/* General Styles */


/* Hero Styles */
#hero {
    background-image: url(../images/background-poly.jpg);
    margin-bottom: 10px;
}

#hero .container {
    flex-direction: column;
    text-align: center;
    padding: 30px;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

#hero img {
    width: 300px;
    height: 300px;
    padding: 10px;
}


/* About/Content Section */

#about a {
}